    /* GENERALI */

* {
    margin: 0; /* Rimuove i margini predefiniti */
    padding: 0; /* Rimuove il padding predefinito */
    box-sizing: border-box; /* Include il padding e i bordi nelle dimensioni degli elementi */
  }

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

p {
  padding-top: 0;
  text-align: center;
  line-height: 1.5;
  font-size: 17px;
}

main p {
  text-align: left;
}

ul {
  list-style-type: none;
}

    /* UTILITY */

.debug 
.debug * {
  min-height: 50px;
  padding: 5px;
  border: 2px dished #ff0000;
  background-color: rgba(168, 30, 30, 0.5);
}

.container {
  max-width: 1100px; /* Larghezza massima */
  margin: 0 auto; /* Centra il contenitore */
  padding: 0 10px;
}

.container.container-xs {
  max-width: 800px;
}

.row {
  display: flex;
}

.col-70,
.col-40,
.col-30,
.col-25 {
  align-items: center;
}

.col-60 {
  align-self: self-start;
}

button {
  background-color: white;
  color: black;
  font-size: 16px;
  border-color: white;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 50%;
}
 
.button-violet {
  background-color: rgb(134, 129, 202);
  border-color: rgb(134, 129, 202);
  color: white;
}

.button-black {
  background-color: black;
  border-color: black;
  color: white;
  margin-left: 15px;
}

.button-xs {
  font-size: 0.8rem;
}
  
    /* HEADER */
.page-header {
  background-color: #255ee7;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-header {
  margin-bottom: 20px;
}
.navbar-header > .container {
  display: flex;
}

.header-link {
  text-decoration: none;
  text-align: center;
  margin: 10px 0;
  padding: 5px 0;
  flex-grow: 1;
  align-content: center;
}

.header-logo {
  text-align: left;
  margin: 10px 0;
  padding: 5px 0;
  align-content: center;
}

.header-login {
  text-align: right;
  margin: 10px 0;
  padding: 5px 0;
  align-content: center;
}

.bootstrap {
  text-align: center;
  padding: 100px 0;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

/* MAIN */
.page-content > section * {
  padding: 50px 10px;
}

.page-content > section:nth-child(odd) {
  background-color: white;
}

.page-content > section:nth-child(even) {
  background-color: #d2d2d2;
}

.page-content > section:nth-child(even) .row {
  flex-direction: row-reverse;
}

.large-content > img {
  text-align: center;
  padding: 10px 10px;
}

.large-content > img,
.large-content > h2,
.large-content > p {
  width: 100%;
  height: auto;
}

main > img {
  width: 650px;
  height: auto;
}

.col-40 > h2 {
  text-align: left;
  font-size: 45px;
  padding-bottom: 30px; 
}
h1 {
padding-top: 80px;
}

.col-40 {

}

.col-60 {

}

/* FOOTER */
.page-footer {
  background-color: #23272a;
  padding-top: 0.5rem;
}

.page-footer .col-30 {
  background-color: #ef807f;

}

.page-footer .col-70 {
  background-color: #20b2a9;

}

.page-footer .col-25 {

}

.page-footer .col-30,
.page-footer .col-70,
.page-footer .col-25 {
  min-height: 300px;
}

.footer-top {
  padding-bottom: 30px;

}

.footer-bottom {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.footer-bottom > * {

}